<!-- Modal for Participants -->
<div id="participantModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Participants ({{ system_participants | length }}) </h4>
      </div>
      <div class="modal-body">
        <ul>
          {% for participant in system_participants %}
          <li>
            <!-- Only Admin and Participants Has The Privilege To View The Picture & Name Of All Participants-->
            {% if user_privilege == "SYS_ADMIN" or user_privilege == "SYS_PARTICIPANT"  %}
            <a href="{{ url_for('social.profile', google_id=participant[0]["google_id"]) }}">
              <img class="participantImage img-circle"
                   src="{{ participant[0]["image_url"] }}">
              {% if participant[0]["displayName"] is not none %}{{ participant[0]["displayName"] }}
              {% else %}No Display Name{% endif %}
            </a>

            <!-- Guest, Subscribers & Pending Users Shall Not Be Able To See The Picture & Name Of All Participants-->
            {% else %}
            <img class="participantImage" src="{{ url_for('social.static', filename='images/default_profile_pic.png') }}"> Anonymous{% endif %}
          </li><br>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <!-- Modal -->
    </div>
  </div>
</div><!-- End of Modal for Participants -->

<!-- Modal for Subscribers -->
<div id="subscriberModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Subscribers ({{ system_subscribers | length }})</h4>
      </div>
      <div class="modal-body">
        <ul>
          {% for subscriber in system_subscribers %}
          <li>
            <!-- Only Admin and Participants Has The Privilege To View The Picture & Name Of All Participants-->
            {% if user_privilege == "SYS_ADMIN" or user_privilege == "SYS_PARTICIPANT" %}
            <a href="{{ url_for('social.profile', google_id=subscriber[0]["google_id"]) }}">
              <img class="participantImage img-circle" src="{{ subscriber[0]["image_url"] }}">
              {% if subscriber[0]["displayName"] is not none %}{{ subscriber[0]["displayName"] }}
              {% else %}No Display Name{% endif %}
            </a>
            <!-- Guest, Subscribers & Pending Users Shall Not Be Able To See The Picture & Name Of All Participants-->
            {% else %}
            <!-- The subscriber will be able to see his/her own name and picture -->
            {% if subscriber[0]["sql_id"] == logged_in_user["sql_id"] %}
            <a href="{{ url_for('social.profile', google_id=subscriber[0]["google_id"]) }}">
              <img class="participantImage" src="{{ session["img"] }}">
              {% if subscriber[0]["displayName"] is not none %}{{ subscriber[0]["displayName"] }}
              {% else %}No Display Name{% endif %}</a>
            {% else %}
            <img class="participantImage" src="{{ url_for('social.static', filename='images/default_profile_pic.png') }}"> Anonymous{% endif %}
            {% endif %}
          </li><br>
          {% endfor %}
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <!-- Modal -->
    </div>
  </div>
</div>
<!-- End of Modal for Subscribers -->
