{% extends "base.html" %}
{% block title %}System{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('social.static', filename='css/system_social.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/layout.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/newsfeed.css') }}">
{% endblock %}

{% block content %}
<!-- Div for Systems Pane - Container Div -->
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav active"><a href="#overview" data-toggle="tab">Overview</a></li>
    <li class="nav"><a href="#analysis" data-toggle="tab">Measurements</a></li>
    {% if logged_in_user %}
    <li class="nav"><a href="#social" data-toggle="tab">Social</a></li>
    {% endif %}
  </ul>
  <div class="tab-content">
    {# Overview Tab #}
    <div class="tab-pane active" id="overview">
      {% include "system_overview.html" %}
    </div>
    {# Analysis Tab #}
    <div class="tab-pane" id="analysis">
      {% include "system_measurements.html" %}
    </div>
    {% if logged_in_user %}
    {# Social Tab #}
    <div class="tab-pane" id="social">
      <div class="row">
        {% include "post_system_form.html" %}
        <h3>Recent Posts</h3>
        {% include "display_system_posts.html" %}
      </div>
    </div>
    {% endif %}{# logged_in_user #}
  </div>
</div>
{% include "system_modals.html" %}

{% endblock %}

{% block scripts %}
{{ super() }}
<!-- Javascript Google Maps API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{config.GOOGLE_API_KEY}}"></script>
<!-- jQuery Script For DOM Manipulation In Systems Page -->
<script type="text/javascript" src="{{ url_for('social.static', filename='js/system_social.js') }}"></script>
<script type="text/javascript">
  $(document).ready(function() {
    aqx_social.renderGoogleMaps("{{ system_neo4j[0][0]['location_lat'] }}",
    "{{ system_neo4j[0][0]['location_lng'] }}", "{{ system_neo4j[0][0]['name'] }}");
  });
</script>
{% endblock %}
