
.groupIcon {
    height: 40px;
    width: 40px;
    float: left;
}

.recommendedGroups {
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
}

.groupImage, .sadSmileyImage {
    height: 32px;
    width: 32px;
}
