<div class="posts">
{% if posts %}
  {% for row in posts %}
    <div class="post">
    	<b>{{ row.username }}</b> shared:
        <div class="dttime">on {{ row.post.date }}</div>
    	<br>
    	{{ row.post.text }}
        {% if row.post.link %}
            <div class="media">
            {%  if row.post.link.endswith(".jpg") or row.post.link.endswith(".png") or row.post.link.endswith(".gif") %}

                <img class="attachedImg" src="{{ row.post.link }}"
                     onclick="window.open('{{ row.post.link }}', '_blank');"/>

            {% else %}
                <iframe width="560" height="315" src="{{ row.post.link.replace("/watch?v=", "/embed/") }}"
                        frameborder="0" allowfullscreen>
                    [Your browser does not support frames or is currently configured not to display frames.
                    Please use an up-to-date browser that is capable of displaying frames.]</iframe>
            {% endif %}
            </div>
        {% endif %}

      </div>
  {% endfor %}
{% endif %}
{% if not posts %}
<p>There are no posts yet!</p>
{% endif %}

</div>