{% block content %}

{% if posts %}
    {% for row in posts %}
        <div class="post detail-box">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="{{ url_for('frontend.static', filename='images/users/oddish.png') }}" alt=""> {# PLACEHOLDER IMAGE #}
                </a>
            </div>
            <div class="media-body">
                <h4>
                    {{ row.displayName }}
                    <span class="date sub-text">on {{ row.post.date }}</span>
                </h4>
                {{ row.post.text }}
                {% if row.post.link %}
                    <div class="media-left">
                    {%  if row.post.link.endswith(".jpg") or row.post.link.endswith(".png") or row.post.link.endswith(".gif") %}

                        <img class="attachedImg" src="{{ row.post.link }}"
                         onclick="window.open('{{ row.post.link }}', '_blank');"/>

                    {% else %}
                        <iframe width="560" height="315" src="{{ row.post.link.replace("/watch?v=", "/embed/") }}"
                            frameborder="0" allowfullscreen>
                        [Your browser does not support frames or is currently configured not to display frames.
                        Please use an up-to-date browser that is capable of displaying frames.]</iframe>
                    {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="comment">

                <form action="{{ url_for('social.like_post') }}" method="post">
                    <div class="form-controls" style=" text-align: right;" >
                        <input type="hidden" name="postid" value="{{ row.post.id }}">
                        <input type="submit" class="btn btn-blue" value="Like">
                    </div>
                </form>

                <div class="comment-box">
                    <ul class="comment-list">
                        {% for cmt in comments %}
                            {% if cmt.postid == row.post.id %}
                                <li>
                                    <div class="media-left">
                                        <img class="media-object" src="{{ url_for('frontend.static', filename='images/users/gloom.png') }}" alt=""> {# PLACEHOLDER IMAGE #}
                                    </div>

                                    <div class="media-body">
                                        <h5>
                                            <b>{{ cmt.comment.user_display_name }}</b>
                                            <span class="date sub-text">replied with</span>
                                        </h5>
                                        {{ cmt.comment.content }}
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>

                    <form action="{{ url_for('social.add_comment') }}" method="post">
                        <div class="input-group col-md-12">
                            <input type="hidden" name="postid" value="{{ row.post.id }}">
                            <input id="newcomment" name="newcomment" class="form-control" placeholder="Share comment">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-green" value="Comment">
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

{% if not posts %}
    <p>There are no posts yet!</p>
{% endif %}

{% endblock %}