{% extends "layout.html" %}

{% block script %}

    <!-- jQuery Script To Display Logged In User Profile Details -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/editProfile.js') }}"></script>

{% endblock %}

{% block body %}

    <div>
        <form action="{{ url_for('social.updateprofile') }}" method="post">

            <img class="imgstyle" id="userImage" src="" height="200" width="200"/> <br/>
            <a id="profileLink" class="btn mycolor" target="_blank" href="#">My Google Plus Profile</a>
            <br/><br/>

            First Name:<input type="text" class="form-control" name="firstname" id="txtFirstName"
                              value= {% if user['givenName'] is not none %} {{ user['givenName'] }} {% endif %}
                                      readonly="readonly">
            </input>
            <br/>
            Last Name:<input type="text" class="form-control" name="lastname" id="txtLastName"
                             value= {% if user['familyName'] is not none %}  {{ user['familyName'] }} {% endif %}
                                     readonly="readonly">
            </input>
            <br/>
            Email:<input type="text" class="form-control" name="email" id="txtEmail"
                         value={{ user['email'] }} readonly="readonly">
            </input>
            <br/>
            Display Name:<input type="text" class="form-control" name="displayName" id="txtDisplayName"
                                value= {% if user['displayName'] is not none %}  {{ user['displayName'] }} {% endif %}>
            </input>
            <br/>
            Gender:
            <label class="radio-inline">
                <input type="radio" name="gender" id="rbMale" value="male"
                        {% if user['gender'] == 'male' %} checked {% endif %}> Male </input>
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" id="rbFemale" value="female"
                        {% if user['gender'] == 'female' %} checked {% endif %}> Female </input>
            </label><br/>
            <br/>
            Organization:<input type="text" class="form-control" name="organization" id="txtOrganization"
                                value= {% if user['organization'] is not none %}  {{ user['organization'] }}
                                {% endif %}>
            </input>
            <br/>
            User Type: <select name="user_type" id="ddUserType">
            <option value="subscriber"
                    {% if user['user_type'] == 'subscriber' %} selected {% endif %}>Subscriber
            </option>
            <option value="farmer"
                    {% if user['user_type'] == 'farmer' %} selected {% endif %}>Farmer
            </option>
            <option value="teacher"
                    {% if user['user_type'] == 'teacher' %} selected {% endif %}>Teacher
            </option>
            <option value="student"
                    {% if user['user_type'] == 'student' %} selected {% endif %}>Student
            </option>
        </select> <br/><br/>
            <!--retrieve dob and email from neo4j-->
            Date of Birth:<input type="datetime" class="form-control" name="dob" id="dtDOB"
                                 value= {% if user['dob'] is not none %}  {{ user['dob'] }} {% endif %}>
            </input>
            <br/>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>

{% endblock %}

