{% extends "layout.html" %}

{% block script %}

 <script>
        $(function () {
var access_token=localStorage.getItem('access_token');
            $.ajax({
                url: "https://www.googleapis.com/plus/v1/people/me?access_token=" + access_token,
                success: function (response) {
                    //console.log(response);
                    //console.log(response.id)
                    //console.log(response.organizations[0].name);
                    /*
                    $('#userId').val(response.id);
                    $('#fdisplayName').val(response.name.familyName);
                    $('#gdisplayName').val(response.name.givenName);
                    $('#displayName').val(response.displayName);
                    $('#welcome').append(response.displayName);
                    $('#organization').val(response.organizations[0].name);
                    $('#email').val(response.emails[0].value);
                    $('#profileLink').attr('href', response.url);
                    $('#returnlogin').append(response.displayName + '?');
                    $('#userImage').attr('src',response.image.url);
                    */
                    $('#userImage').attr('src',response.image.url);
                    

                }
            });
        });
</script>

{% endblock %}

{% block body %}
    
    {% if session.uid %}

        <div>
            <form action="/updateprofile" method="post">
                First Name:<input class="form-control width200" id="gdisplayName" name="firstname"
                            value = {{ user['givenName'] }} readonly="readonly"/>
                <br />
                Last Name:<input class="form-control width200" id="fdisplayName" name="lastname" 
                            value = {{ user['familyName'] }} readonly="readonly">
                <br />
                Email:<input class="form-control width200" name="email" readonly="readonly" 
                        value = {{ user['email'] }} />
                <br />
                Display Name:<input class="form-control width200" name="displayname" 
                        value = {{ user['displayName'] }} >
                <br />
                Gender:
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="rbMale" value="male"
                            {% if user['gender'] == 'male' %} checked {% endif %}>Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" id="rbFemale" value="female"
                        {% if user['gender'] == 'female' %} checked {% endif %}>Female
                    </label><br />
                <br />
                Organization:<input class="form-control width200" name="organization"
                        value = {{ user['organization'] }} >
                <br />
                User Type: <select name="user_type" id="ddUserType">
                    <option value="Subscriber" 
                        {% if user['user_type'] == 'Subscriber' %} selected {% endif %}>Subscriber</option>
                    <option value="Farmer" 
                        {% if user['user_type'] == 'Farmer' %} selected {% endif %}>Farmer</option>
                    <option value="Teacher"
                        {% if user['user_type'] == 'Teacher' %} selected {% endif %}>Teacher</option>
                    <option value="Student"
                        {% if user['user_type'] == 'Student' %} selected {% endif %}>Student</option>
                </select> <br /><br />
                <!--retrieve dob and email from neo4j-->
                Date of Birth:<input type="datetime" class="form-control width200" name="dob" value = {{ user['dob'] }}/>
                <br />
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>

    {% endif %}

{% endblock %}

