{% extends "base.html" %}

{% block content %}
    
    {% if session.uid %}
        <form action="{{ url_for('social.updateprofile') }}" method="post">

            <div class="row">
                <div class="col-sm-4 text-center">
                    <img class="imgstyle" id="userImage" src="" height="200" width="200" /> <br />
                    <a id="profileLink" class="btn btn-blue" target="_blank" href="#">My Google Plus Profile</a>
                </div>

                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="txtFirstName">First Name:</label>
                        <input type="text" class="form-control" name="firstname" id="txtFirstName"
                        value = {% if user['givenName'] is not none %} {{ user['givenName'] }} {% endif %}
                        readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="txtLastName">Last Name:</label>
                        <input type="text" class="form-control" name="lastname" id="txtLastName"
                        value = {% if user['familyName'] is not none %}  {{ user['familyName'] }} {% endif %}
                        readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email:</label>
                    <input type="text" class="form-control" name="email" id="txtEmail"
                        value = {{ user['email'] }} readonly="readonly"/>
                    </div>
                    <div class="form-group">
                        <label for="txtDisplayName">Display Name:</label>
                        <input type="text" class="form-control" name="displayName" id="txtDisplayName"
                         value = {% if user['displayName'] is not none %}  {{ user['displayName'] }} {% endif %}/>
                    </div>
                    <div class="form-group">
                        <b>Gender: &nbsp;</b>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="rbMale"
                            {% if user['gender'] == 'male' %} checked {% endif %}/>Male
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="rbFemale"
                            {% if user['gender'] == 'female' %} checked {% endif %}/>Female
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="txtOrganization">Organisation:</label>
                        <input type="text" class="form-control" name="organization" id="txtOrganization"
                            value = {% if user['organization'] is not none %}  {{ user['organization'] }}
                            {% endif %}/>
                    </div>
                    <div class="form-group">
                        <label for="ddUserType">User Type:</label>
                        <select class="form-control" name="user_type" id="ddUserType">
                            <option value="--">--</option>
                            <option value="Subscriber"
                            {% if user['user_type'] == 'Subscriber' %} selected {% endif %}>Subscriber</option>
                            <option value="Farmer"
                            {% if user['user_type'] == 'Farmer' %} selected {% endif %}>Farmer</option>
                            <option value="Teacher"
                            {% if user['user_type'] == 'Teacher' %} selected {% endif %}>Teacher</option>
                            <option value="Student"
                            {% if user['user_type'] == 'Student' %} selected {% endif %}>Student</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <!--retrieve dob and email from neo4j-->
                        <label for="dtDOB">Date of Birth:</label>
                        <input type="datetime" class="form-control" name="dob" id="dtDOB"
                            value = {% if user['dob'] is not none %}  {{ user['dob'] }} {% endif %}/>
                    </div>
                    <button type="submit" class="btn btn-green form-control">Save</button>
                </div>
            </div>
        </form>

    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- jQuery Script To Display Logged In User Profile Details -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/editProfile.js') }}"></script>
{% endblock %}

