{% extends "base.html" %}

{% block title %} {% endblock %}

{% block content %}

    <div class="container">
        <span><img style="height: 40px;width: 40px;float: left;" class="friendsIcon"
                   src="{{ url_for('social.static', filename='images/friends.png') }}">
            <h3 class="page-header">&nbsp; Friends</h3></span>
        <ul class="nav nav-tabs">
            <li class="active"><a href="{{ url_for('social.friends') }}">My Friends</a></li>
            <li><a href="{{ url_for('social.searchFriends') }}">Search Friends</a></li>
            <li><a href="{{ url_for('social.pendingRequest') }}">Pending Requests</a></li>
            <li><a href="{{ url_for('social.recofriends') }}">Recommended Friends</a></li>
        </ul>
        <table class="table">

            <!-- Search Results Div -->
            <div class="row">
                <h4>My Friends:</h4>
                <hr>
                {% if Friends or UnblockedFriend %}
                    <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th>Username</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in Friends %}
                        <tr>
                            <td><img src="{{ row.n.image_url }}" class="img-circle" alt="User Image" width="60"
                                     height="60"></td>
                            <td><a href="profile/{{ row.n.google_id }}">{{ row.n.displayName }}</a></td>
                            <td>
                                <a type="button" href="{{ url_for('social.block_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-primary">Block</a>
                                <a type="button" href="{{ url_for('social.delete_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-primary">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    {% for row in UnblockedFriend %}
                        <tr>
                            <td><img src="{{ row.n.image_url }}" class="img-circle" alt="User Image" width="60"
                                     height="60"></td>
                            <td><a href="profile/{{ row.n.google_id }}">{{ row.n.displayName }}</a></td>
                            <td>
                                <a type="button" href="{{ url_for('social.unblock_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-primary">UnBlock</a>
                                <a type="button" href="{{ url_for('social.delete_friend', u_sql_id=row.n.sql_id) }}"
                                   class="btn btn-primary">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>

                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}"
                                 alt="FriendRequest"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Oops! No Friends !
                        </ul>
                    </div>
                {% endif %}
            </div>
        </table>
    </div>

{% endblock %}