{% extends "base.html" %}

{% block title %}Groups{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('social.static', filename='css/groups.css') }}">
{% endblock %}

{% block content %}

    <!-- Entire Page Div Container -->
    <div class="container" id="searchGroupsTab">
        <span>
            <img class="groupIcon" src="{{ url_for('social.static', filename='images/groups.png') }}">
            <h3 class="page-header">&nbsp; Groups</h3>
        </span>
        <ul class="nav nav-tabs" id="tab-headers">
            <li><a href="#createGroupTab">Create Group</a></li>
            <li><a href="#myGroupsTab">My Groups</a></li>
            <li><a href="#searchGroupsTab">Search Groups</a></li>
            <li><a href="#recommendedGroupsTab">Recommended Groups</a></li>
        </ul>
        <br>

        <!-- Create Groups Div -->
        <div class="container" id="createGroupTab">


        </div>
        <!-- End of Create Groups Div -->

        <!-- My Groups Div -->
        <div class="row" id="myGroupsTab">

        </div>
        <!-- End of My Groups Div -->


        <!-- Search Groups Div -->
        <div class="container" id="searchGroupsTab">
            <div class="input-group col-md-12">
                <input type="text" id="autocomplete" class="form-control input-lg" placeholder="Search groups"/>
            </div>
        </div>
        <!-- End of Search Groups Div -->


        <!-- Recommended Groups Div -->
        <div class="container" id="recommendedGroupsTab">

            <!-- Div To Display Recommended Groups -->
            <div class="row recommendedGroups">

                    <h4>Recommended Groups</h4>
                    <hr>

                    {% if recommended_groups %}
                        {% for row in recommended_groups %}
                            <div class="row">
                                <ul class="pull-left">
                                    <img class="groupImage" src="{{ url_for('social.static', filename='images/groups.png') }}"
                                         alt="Groups">
                                </ul>
                                <br/>
                                <ul>
                                    <a href="{{ url_for('social.view_group', group_uid=row.group.group_uid) }}">{{ row.group.name }}</a>
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="row">
                            <ul class="pull-left">
                                <img class="sadSmileyImage" src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="Groups">
                            </ul>
                            <br/>
                            <ul>
                                Sorry, We did not find any recommended groups.
                            </ul>
                        </div>
                    {% endif %}

                </div>
            <!-- End of Div To Display Recommended Groups -->

        </div>
        <!-- End of Recommended Groups Div -->

    </div>
    <!-- End of Entire Page Div Container -->

    <br/><br/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- jQuery Script For DOM Manipulation In Search Groups Page -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/groups.js') }}"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
        //Script to search for users while typing a person's name, using autocompletion feature
        $(function () {
            $.ajax({
                url: '{{ url_for("social.get_groups") }}'
            }).done(function (data) {
                console.log(data)
                $("#autocomplete").autocomplete({
                    minLength: 1,
                    source: data.json_list,
                    focus: function (event, ui) {
                        $("#autocomplete").val(ui.item.label);
                        return false;
                    },
                    select: function (event, ui) {
                        $("#autocomplete").val(ui.item.label);
                        return false;
                    }
                })
                .autocomplete("instance")._renderItem = function (ul, item) {
                    var grp_uid = item.uid;
                    var $a = $("<div></div>");
                    $("<b></b>").text(item.label).appendTo($a).click(function () {
                        window.location = "/social/groups/" + grp_uid;
                    });
                    $("<br>").appendTo($a);
                    $("<span class='m-desc'></span>").text(item.desc).appendTo($a);

                    return $("<li></li>").append($a).appendTo(ul);

                };
            });
        });
    </script>

{% endblock %}