{% extends "base.html" %}

{% block title %}Search Groups{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('social.static', filename='css/group_search.css') }}">
{% endblock %}

{% block content %}

    <!-- Entire Page Div Container -->
    <div class="container" id="searchGroupsTab">
        <span>
            <img class="groupIcon" src="{{ url_for('social.static', filename='images/groups.png') }}">
            <h3 class="page-header">&nbsp; Groups</h3>
        </span>
        <ul class="nav nav-tabs" id="tab-headers">
            <li><a href="#createGroupTab">Create Group</a></li>
            <li><a href="#myGroupsTab">My Groups</a></li>
            <li><a href="#allGroupsTab">All Groups</a></li>
            <li><a href="#recommendedGroupsTab">Recommended Groups</a></li>
        </ul>
        <br>

        <!-- Create Groups Div -->
        <div class="container" id="createGroupTab">


        </div>
        <!-- End of Create Groups Div -->

        <!-- My Groups Div -->
        <div class="row" id="myGroupsTab">

        </div>
        <!-- End of My Groups Div -->


        <!-- All Groups Div -->
        <div class="container" id="allGroupsTab">


        </div>
        <!-- End of All Groups Div -->


        <!-- Recommended Groups Div -->
        <div class="container" id="recommendedGroupsTab">


        </div>
        <!-- End of Recommended Groups Div -->

    </div>
    <!-- End of Entire Page Div Container -->

    <br/><br/>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- jQuery Script For DOM Manipulation In Search Groups Page -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/group_search.js') }}"></script>
{% endblock %}