{% extends "layout.html" %}
{% block body %}
    {% if session.uid %}
        <form action="{{ url_for('add_post') }}" method="post">
            <div class="form-controls" style="width: 60%">
                <textarea id="new_post" name="text" rows="3" cols="60" style="width: 100%"
                          placeholder="Share what you are doing.."></textarea>
                <div class="links">
                    <input type="hidden" name="link" value=""/>
                </div>
                <div class="controls form-inline">
                    <button type="button" class="btn" data-toggle="modal" data-target="#linkModal"
                        id="add_link">Add Link
                    </button>
                    <select name="privacy" style="height: 30px; width: 100px; margin-left: 200px; margin-right: 100px">
                        <option value="public">Public</option>
                    </select>
                    <input type="submit" class="btn btn-primary" value="Share">
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="linkModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Link</h4>
                        </div>
                        <div class="modal-body">
                            <input id="new_link" type="url" class="form-control"
                                   placeholder="Type an image/video url here.." />
                        </div>
                        <div class="modal-footer">
                            <button id="addUrl" type="button" class="btn btn-default" data-dismiss="modal">Add Link</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    <br>

    <h3>Today's Recent Posts</h3>
    {% include "display_posts.html" %}

    {% endif %}

{% endblock %}
{% block script %}
    <script>
        $("#addUrl").click(function() {
            var link = $("#new_link").val();
            if (link.length > 0) {
                $(".links").empty();
                $(".links").append("<a href='" + link + "'>" + link + "</a>");
                $(".links").append("<input type='hidden' name='link' value='" + link + "'/><br/>");
                $("#add_link").attr("disabled", "disabled");
            }
        });
    </script>
{% endblock %}