{% extends "base.html" %}

{% block title %}Newsfeed{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/newsfeed.css') }}">
{% endblock %}

{% block content %}
    {% if session.uid %}
        <div class="row">
            {# SIDEBAR #}
            <div class="col-sm-3 sidebar">
                <h3>
                Weather
                <button class="js-geolocation btn btn-blue btn-xs"><i class="fa fa-location-arrow"></i>Current</button>
            </h3>
            <div id="weather"></div>
            <hr>
                {% include "sidebar.html" %}
            </div>

            {# NEWSFEED #}
            <div class="col-sm-9 col-sm-offset-3 main">
                {% include "post_form.html" %}

                <h3>Recent Posts</h3>
                {% include "display_posts.html" %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="{{ url_for('frontend.static', filename='js/weather.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/newsfeed.js') }}"></script>
    <script>
        $("#addUrl").click(function () {
            var link = $("#new_link").val();
            if (link.length > 0) {
                $(".links").empty();
                $(".links").append("<a href='" + link + "'>" + link + "</a>");
                $(".links").append("<input type='hidden' name='link' value='" + link + "'/><br/>");
                $("#add_link").attr("disabled", "disabled");
            }
        });
    </script>
    <!-- jQuery Script To Display Logged In User Profile Details -->
    <script type="text/javascript" src="{{ url_for('social.static', filename='js/home.js') }}"></script>
{% endblock %}
