<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hi</title>
</head>
<body>
<form action="/updateprofile" method="post">
  First name:
  <input type="text" name="firstname">
  <br>
  Last name:
  <input type="text" name="lastname">
  <br>
   Date of birth:
  <input type="text" name="dob">
  <br>
  Organization:
  <input type="text" name="organization">
  <br>
    Email:
  <input type="text" name="email">
  <br>
  <label for="gender">Gender:</label>
  <select name="gender" id="gender">
    <option>Male</option>
    <option>Female</option>
  </select>
    <br>
  <input type="submit" value="Submit" />
</form>

</body>
</html>