{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1 class="page-header">Friends</h1>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('social.friends') }}">MyFriends</a></li>
            <li><a href="{{ url_for('social.searchFriends') }}">Search Friends</a></li>
            <li class="active"><a href="pendingRequest.html">Pending Requests</a></li>
            <li><a href="{{ url_for('social.recofriends') }}">Recommended Friends</a></li>
        </ul>

        <table class="table">

            <!-- Search Results Div -->
            <div class="row">
                <h4>Pending Friend Requests:</h4>
                <hr>
                {% if pendingRequests %}
                    <thead>
                      <tr>
                       <th class="col-sm-1"></th>
                       <th>Username</th>
                       <th>Option</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for row in pendingRequests %}
                        <tr>
                         <td><img src="{{ url_for('frontend.static', filename='images/users/vileplume.png') }}"></td>
                         <td>{{ row.n.displayName}}</td>
                         <td>
                            <a type="button" href = {{ url_for('social.accept_friend_request', u_sql_id=row.n.sql_id) }}  class="btn btn-primary">Confirm</button>
                            <a type="button" href={{ url_for('social.decline_friend_request', u_sql_id=row.n.sql_id) }} class="btn btn-primary">Delete</button>
                         </td>
                        </tr>

                    {% endfor %}
                    </tbody>

                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="FriendRequest"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                             Oops! No Pending Friend Requests!
                        </ul>
                    </div>
                {% endif %}
            </div>
            </table>

        </div>





{% endblock %}