{% extends "base.html" %}

{% block title %}Pending Requests{% endblock %}

{% block content %}

    <div class="container">
        <span><img style="height: 40px;width: 40px;float: left;" class="friendsIcon"
                   src="{{ url_for('social.static', filename='images/friends.png') }}">
            <h3 class="page-header">&nbsp; Friends</h3></span>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('social.friends') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;MyFriends</a></li>
            <li><a href="{{ url_for('social.searchFriends') }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;Search Friends</a></li>
            <li class="active"><a href="{{ url_for('social.pendingRequest') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Pending Requests</a></li>
            <li><a href="{{ url_for('social.recofriends') }}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;Recommended Friends</a></li>
        </ul>

        <table class="table">

            <!-- Search Results Div -->
            <div class="row">
                <br>
                {% if pendingRequests %}
                    <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th>Username</th>
                        <th>Option</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in pendingRequests %}
                        <tr>
                            <td><img src="{{ row.n.image_url }}" class="img-circle" alt="User Image" width="60" height="60"></td>
                            <td><a href="profile/{{ row.n.google_id }}">{{ row.n.displayName }}</a></td>
                            <td>
                                <a type="button"
                                   href="{{ url_for('social.accept_friend_request', u_sql_id=row.n.sql_id) }}"  class="btn
                                   btn-primary">Confirm</a>
                                <a type="button"
                                   href="{{ url_for('social.decline_friend_request', u_sql_id=row.n.sql_id) }}" class="btn
                                   btn-primary">Delete</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>

                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}"
                                 alt="FriendRequest"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                            Oops! You have no Pending Friend Requests!
                        </ul>
                    </div>
                {% endif %}
            </div>
        </table>
    </div>

{% endblock %}