{% extends "layout.html" %}
{% block script %}

 <script>
        $(function () {
var access_token=localStorage.getItem('access_token');
            $.ajax({
                url: "https://www.googleapis.com/plus/v1/people/me?access_token=" + access_token,
                success: function (response) {
                    console.log(response);
                    console.log(response.id);
                    $('#userId').val(response.id);
                    $('#fdisplayName').val(response.name.familyName);
                    $('#gdisplayName').val(response.name.givenName);
                    $('#welcome').append(response.displayName);
                    $('#profileLink').attr('href', response.url);
                    $('#returnlogin').append(response.displayName + '?');
                    $('#userImage').attr('src',response.image.url);


                }
            });
        });
</script>

{% endblock %}

{% block body %}



    <div>



     <div class="width200">
        <img class="imgstyle" id="userImage" src="#" />
    </div>
    <br />
    FamilyName:<input class="form-control width200" id="fdisplayName"  />
    GivenName:<input class="form-control width200" id="gdisplayName" />
    ID:<input class="form-control width200" id="userId" /><br />

    <a id="profileLink" class="btn mycolor width200" href="#">Go to My Profile</a><br /><br />
    <a id="returnlogin" class="btn mycolor width200" href="index.html">Not&ensp;</a>
 </div>



<form action="/updateprofile" method="post">
  First name:
  <input type="text" name="firstname">
  <br>
  Last name:
  <input type="text" name="lastname">
  <br>
   Date of birth:
  <input type="text" name="dob">
  <br>
  Organization:
  <input type="text" name="organization">
  <br>
    Email:
  <input type="text" name="email">
  <br>
  <label for="gender">Gender:</label>
  <select name="gender" id="gender">
    <option>Male</option>
    <option>Female</option>
  </select>
    <br>
  <input type="submit" value="Submit" />
</form>





{% endblock %}