{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/layout.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('social.static', filename='css/newsfeed.css') }}">
{% endblock %}


{% block content %}
    <div class="row">
        {# SIDEBAR #}
        <div class="col-sm-3">
            <div class="row">
                <img class="imgstyle" id="userImage" src="{{ google_profile['img_url'] }}" width="200"/> <br/>
                <h3 class="username">  {{ google_profile['display_name'] }} </h3>
                <a id="profileLink" class="btn mycolor" target="_blank"
                   href="{{ google_profile['plus_url'] }}">Google Plus Profile</a>
                <input id="googleId" type="hidden" value="{{ google_profile['google_id'] }}"/>
                <br/>
            </div>

            <br/>
        </div>

        {# NEWSFEED #}
        <div class="main col-sm-9">
            {% include "post_form.html" %}

            <h3>Recent Posts</h3>
            {% include "display_posts.html" %}
        </div>

    </div>
{% endblock %}