{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h1 class="page-header">Friends</h1>
        <ul class="nav nav-tabs">
            <li><a href="{{ url_for('social.friends') }}">MyFriends</a></li>
            <li><a href="{{ url_for('social.searchFriends') }}">Search Friends</a></li>
            <li><a href="{{ url_for('social.pendingRequest') }}">Pending Requests</a></li>
            <li class="active"><a href="recofriends.html">Recommended Friends</a></li>
        </ul>

        <table class="table">
            <br>
            <!-- Search Results Div -->
            <div class="row">
                {% if recolist %}
                    <thead>
                      <tr>
                       <th class="col-sm-1"></th>
                       <th>Name</th>
                       <th>Number of Mutual Friends</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for row in recolist %}
                        <tr>
                            <td><img src="{{ url_for('frontend.static', filename='images/users/vileplume.png') }}"></td>
                            <td>{{ row.FriendName}}</td>
                            <td>{{ row.Num_Mutual_Friends}}</td>
                        </tr>

                    {% endfor %}
                    </tbody>

                {% else %}
                    <div class="row">
                        <ul class="pull-left">
                            <img src="{{ url_for('social.static', filename='images/sad_smiley.png') }}" alt="FriendRequest"
                                 height="32"
                                 width="32">
                        </ul>
                        <br/>
                        <ul>
                             Oops! Your friends have no friends!
                        </ul>
                    </div>
                {% endif %}
            </div>
            </table>

        </div>


    </div>

{% endblock %}