#navbar-bottom {
    margin-bottom: 0;
}

#wrapper {
    position: relative;
}

#slider {
    display: none;
    width: 100%;
}

.foreground {
    position: relative;
    z-index: auto;
}

.background {
    position: absolute;
    width: 100%;
    z-index: -100;
}

#systems-list {
    padding: 15px;
}

.graph-caption {
    text-align: center;
}

/* Slider classes */
.strip-preview {
    border: 1px solid black;
    width: 50px;
    height:30px;
    position: relative;
}

.ph-strip {
    background: linear-gradient(to right, #faac59, #ee8243, #e35744, #e93e4d, #ea185e);
    width: 200px;
    height:30px;
    position: relative;
}

.ammonium-strip {
    background: linear-gradient(to right, #ffe26d, #dde093, #c7dd8a, #9dd29c, #88b789);
    width: 200px;
    height:30px;
    position: relative;
}

.nitrate-strip {
    background: linear-gradient(to right, #fffaed, #f9abcc, #f581b2, #e92b93, #de0084, #d50078);
    width: 200px;
    height:30px;
    position: relative;
}

.nitrite-strip {
    background: linear-gradient(to right, #fefcf0, #fdf6f1, #fcecec, #fdb8d4, #f6a1c0, #fa91b3);
    width: 200px;
    height:30px;
    position: relative;
}

.chlorine-strip {
    background: linear-gradient(to right, #ffffff, #faf7ea, #f2e6f0, #f4ccda, #f7b5d6, #f6acce);
    width: 200px;
    height:30px;
    position: relative;
}

.hardness-strip {
    background: linear-gradient(to right, #737255, #7e7358, #906048, #a55942, #d66f52);
    width: 200px;
    height:30px;
    position: relative;
}

.alkalinity-strip {
    background: linear-gradient(to right, #eac766, #b7b278, #a1a97e, #748c7b, #6a8079, #5f6773);
    width: 200px;
    height:30px;
    position: relative;
}

.strip-picker {
    background: white;
    border: 1px solid black;
    height: 30px;
    width: 4px;
    top: -1px;
    display: block;
    position: absolute;
}

.img-placeholder {
    width: 400px;
    height: 300px;
    border: 3px dashed rgb(200,200,200);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.img-details {
    border-radius: 5px;
    width: 100%;
}