/***************

Fonts & Colours

***************/
body {
    padding-bottom: 100px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #474440;
}

.btn-blue {
    background-color: transparent;
    color: #6ab7b9;
}

.btn-green {
    background-color: #8ac226;
    color: #fff;
}

@font-face {
    font-family: Circular;
    src: url(../fonts/CircularStd-Book.otf)
}


/***************

Navigation

***************/
.navbar-brand {
    padding: 5px 15px;
}

.navbar-brand img {
    height: 40px;
}

#navbar-top {
    margin-bottom: 0;
}

#navbar-spacer {
    height: 8px;
    background-color: #5cb85c;
}

#navbar-bottom {
    background-color: rgba(34, 34, 34, 0.9);
    border-color: rgba(8, 8, 8, 0.9);
    margin-bottom: 0;
}


/***************

Footer

***************/
.footer {
    background-color: #e7e7e7;
    height: 50px;
    line-height: 50px;
}

.footer > div > ul {
    display: inline-block;
    float: none;
}

.footer > div {
    text-align: center;
}


/***************

Carousel

***************/
.carousel {
    height: 500px;
    margin-bottom: 60px;
}

.carousel-caption {
    z-index: 10;
}

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

/***************

Marketing Content

***************/
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/***************

Featurettes

***************/
.featurette-divider {
    margin: 80px 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/***************

Pop-up Dialog (for first-time users)

***************/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #ffffff no-repeat right top;
    margin-right: 200px;

    /* background-position: right top; */
    margin-left: 700px;
    margin-top: 45px;
    padding: 20px;
    /* background: #acc8ac; */
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
    z-index: 100;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #6ab7b9;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}


/***************

Newsfeed CSS

***************/
.like {
    float:right;
    margin-right: 2%;
    background-color: #fff;
    color: #6ab7b9;
}

.unlike {
    float:right;
    margin-right: 2%;
    background-color: #6ab7b9;
    color: #fff;
}

.detail-box {
    background-color: #fff;
    border: 1px solid #bbb;
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment-box {
    border-top: 1px dotted #bbb;
}

.comment-box .form-group:first-child, .actionBox .form-group:first-child {
    width: 80%;
}

.comment-box .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width: 18%;
}

.taskDescription {
    margin-top: 10px 0;
}

.comment-list {
    padding: 0;
    list-style: none;
    max-height: 200px;
    overflow: auto;
}

.comment-list li {
    margin: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

.commenterImage img {
    width: 100%;
    border-radius: 50%;
}

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-size: 11px;
}

.share {
    margin: 5px 0;
}

i {
    padding: 5px;
}

pre {
    width: 100%;
}

.media {
    padding: 8px;
}

.post .media-object {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.comment .media-object {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}


/***************

Systems CSS

***************/
#wrapper {
    position: relative;
}

#slider {
    display: none;
    width: 100%;
}

.foreground {
    position: relative;
    z-index: auto;
}

.background {
    position: absolute;
    width: 100%;
    z-index: -100;
}

#systems-list {
    padding: 15px;
}

.graph-caption {
    text-align: center;
}


/***************

Responsive CSS

***************/
@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 30px;
    }

    .main-title {
        font-size: 65px;
    }
}