# MySql connection settings for testing
HOST='24.18.191.175'
USER='projectfeed'
PASS='zpL&!k938gUcPuP'
DB='ProjectFeedBoston'


# Neo4J connection settings for testing
CONNECTIONSETTING = "http://aquaponics_sc:bwadsXAk63y6R0uBHN2g@aquaponicssc.sb02.stations.graphenedb.com:24789/db/data/"
USERNAME = "aquaponics_sc"
PASSWORD = "bwadsXAk63y6R0uBHN2g"
   