<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <script type="text/javascript" src="../dav/static/js/aqxmap.js"></script>
    <script type="text/javascript" src="../dav/static/js/markerclusterer-min.js"></script>
    <script type="text/javascript" src="../dav/static/js/oms-min.js"></script>
    <script type="text/javascript" src="../dav/static/js/underscore-min.js"></script>

</head>

<body>
     <a href="{{ url_for('dav.home') }}">DAV</a>
</body>

</html>