{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="page-header">Contact Us</h2>
        <address>
            <strong>Project Feed 1010</strong><br>
            <em>Institute for Systems Biology</em><br>
            401 Terry Ave N<br>
            Seattle, WA 98109<br>
            <abbr title="Email">E:</abbr> <a href="mailto:projectfeed1010@systemsbiology.org">projectfeed1010@systemsbiology.org</a>
        </address>
        <h4>Give us some feedback!</h4>
        <p>What do like about this site? How could we make it better? Any feedback will be much appreciated! We are
            constantly on the lookout on how we could improve this site.</p>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}