{% extends "base.html" %}

{% block title %}Contact Us{% endblock %}

{% block content %}
        <h1 class="page-header">Contact Us</h1>
        <address>
            <img src="{{ url_for('frontend.static', filename='images/pflogo.png') }}" height="100"><br><br>
            401 Terry Ave N<br>
            Seattle, WA 98109<br>
            <abbr title="Email">E:</abbr> <a href="mailto:projectfeed1010@systemsbiology.org">projectfeed1010@systemsbiology.org</a>
        </address>
        <h3>Questions? Feedback?</h3>
        <p>
          Do you have questions about this site or want to provide feedback? Click
          <a href="https://goo.gl/forms/3cJWX5U7Vxl2GHdj1" target="_blank">here</a> to let us know! Our team is continually optimizing this
          site to address your comments.
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
