{% extends "base.html" %}

{% block title %}Add System{% endblock %}

{% block content %}
    <form method="POST" action="create_system">
        <div class="form_description">
            <h2>Add a System</h2>
            <p>*All fields are required.</p>
        </div>
        <div class="form-group">
            <label for="system-name">System Name</label>
            <input type="text" class="form-control" id="system-name" name="system-name" required>
        </div>
        <div class="form-group">
            <label for="address">Location</label>
            <p>In order to correctly pinpoint the location of your system on the map, we will need its latitude and
                longitude coordinates. You can either enter them in manually or enter an address below and we'll do the
                conversion for you.</p>
            <div class="input-group">
                <input type="text" class="form-control" id="address" placeholder="Address" required>
                <span class="input-group-btn">
                    <a class="btn btn-green" onclick="get_latlng()">Get Coordinates</a>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <input id="lat-val" class="form-control" placeholder="Latitude" name="lat">
                </div>
                <div class="col-md-6">
                    <input id="lng-val" class="col-md-6 form-control" placeholder="Longitude" name="long">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="start-date">Date Started</label>
            <input type="date" class="form-control" id="start-date" name="start-date" required>
        </div>
        <div class="form-group">
            <label for="aqx-technique">Aquaponics Technique</label>
            <select class="form-control" id="aqx-technique" name="aqx-technique-id" required>
                <option value="" selected="selected"></option>
                {% for technique in metadata_dict['aqx_techniques'] %}
                    <option value="{{ technique }}">{{ technique }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="gb-media">Growbed Media</label>
            <select class="form-control" id="gb-media" name="gb-media" required>
                <option value="" selected="selected"></option>
                {% for medium in metadata_dict['growbed_media'] %}
                    <option value="{{medium}}">{{ medium }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="number" min="0" class="form-control" id="num-gb" name="num-gb" placeholder="Number of Media" required>
        </div>
        <div class="crop-controls">
            <div class="form-group">
                <label for="crop">Crop</label>
                <select class="form-control" id="crop" name="crop" required>
                    <option value="0"></option>
                    {% for crop in metadata_dict['crops'] %}
                        <option value="{{crop}}">{{ crop }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" id="num-crop" name="num-crop" placeholder="Number of Crops" required>
            </div>
        </div>

        <!-- Adding mulitple crops
        <div id="add-crop"></div>
        <div class="form-group">
            <a id="add-crop-link" href="javascript:void(0)">+ Add another crop</a>
        </div>
        -->

        <div class="organism-controls">
            <div class="form-group">
                <label for="aqua-org">Aquatic Organism</label>
                <select class="form-control" id="aqua-org" name="aqua-org" required>
                    <option value="0"></option>
                    {% for organism in metadata_dict['aqx_organisms'] %}
                        <option value="{{organism}}">{{ organism }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="number" min="0" class="form-control" id="num-aqua-org" name="num-org" placeholder="Number of Organisms"
                       required>
            </div>
        </div>

        <!-- Adding multiple organisms
        <div id="add-organism"></div>
        <div class="form-group">
            <a id="add-organism-link" href="javascript:void(0)">+ Add another organism</a>
        </div>
        -->

        <div class="form-group">
            <button type="submit" class="btn btn-green">Create</button>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPogpDVVvhpYRxq1uqfiJcbeWBCV_I_-A"></script>
    <script type="text/javascript" src="{{ url_for('frontend.static', filename='js/create_system.js') }}"></script>
{% endblock %}