{% extends "base.html" %}

{% block title %}Curriculum{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-header">Curriculum</h1>
        <p>Are you looking into learning more about sustainable food sources in a classroom setting? Take a look at our
            module on modeling sustainable food systems! Each lesson can be completed independently or together in a
            classroom. Get started today!</p>

        <ul class="list-group">
            <li class="list-group-item">
                <a href="https://see.systemsbiology.net/curriculum/food-security/lesson-1-2/">
                    Lesson 1: Introduction to Food Security
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://see.systemsbiology.net/curriculum/food-security/lesson-2-stakeholder-activity-who-cares/">
                    Lesson 2: Stakeholder Activity - Who Cares?
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://see.systemsbiology.net/curriculum/food-security/lesson-3-food-security-as-a-system/">
                    Lesson 3: Food Security as a System
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://see.systemsbiology.net/curriculum/food-security/lesson-4-why-dont-we-just-grow-more/">
                    Lesson 4: Why Don't We Just Grow More?
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://see.systemsbiology.net/curriculum/food-security/lesson-5-where-does-our-food-come-from/">
                    Lesson 5: Where Does Our Food Come From?
                </a>
            </li>
            <li class="list-group-item">
                <a href="https://see.systemsbiology.net/curriculum/food-security/lesson-6-it-is-important-to-know-where-our-food-comes-from-science-fiction-vs-real-life/">
                    Lesson 6: Is It Important to Know Where Our Food Comes From - Science Fiction vs. Real Life
                </a>
            </li>
        </ul>
    </div>
{% endblock %}