{% extends "base.html" %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/system.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/annotations.css') }}">
{% endblock %}
{% block title %}{{metadata.name}} Measurements{% endblock %}

{% block content %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('frontend.view_system', system_uid=metadata.UID)}}">System</a></li>
      <li class="breadcrumb-item"><a href="{{url_for('frontend.sys_data', system_uid=metadata.UID, measurement=measurement)}}">Data History</a></li>
      <li class="breadcrumb-item active">Edit {{measurement_name}}</li>
    </ol>

    <div class="container">
      <h1>Edit {{measurement_name}} Value</h1>
      <form name="editDataForm" action="{{url_for('frontend.update_measurement', system_uid=metadata.UID, measurement=measurement, time=created_at)}}" method="post">
        <div class="form-group">
          <label for="measure-current-value">Value for {{data.created_at}}</label>
          {% if measurement_unit %}
          <div class="input-group">
            <input class="form-control" name="value" placeholder="{{data.value}}" value="{{data.value}}"></input>
            <span id="value-addon" class="input-group-addon">{{measurement_unit|safe}}</span>
          </div>
          {% else %}
          <input class="form-control" name="value" placeholder="{{data.value}}" value="{{data.value}}"></input>
          {% endif %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-green">Submit</button>
        </div>
      </form>
    </div>
{% endblock %}
