{% extends "base.html" %}
{% block title %}Edit System - {{system_data['name']}}{% endblock %}
{% block content %}
<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="{{url_for('frontend.view_system', system_uid=system_data['UID'])}}">System</a></li>
  <li class="breadcrumb-item active">Edit System</li>
</ol>

<div>
  <form id="edit_form">
    <input type="hidden" id="this_url" value="{{url_for('frontend.edit_system', system_uid=system_data['UID'])}}"></input>
    <input type="hidden" id="delete_crop_url" value="{{url_for('frontend.delete_crop', system_uid=system_data['UID'], crop_id=0)}}"></input>
    <input type="hidden" id="delete_organism_url" value="{{url_for('frontend.delete_organism', system_uid=system_data['UID'], organism_id=0)}}"></input>
    <input type="hidden" name="uid" value="{{system_data['UID']}}"></input>
    <h2>Edit System</h2>
    <div class="notice">
      <b>Note:</b> Only edit plant and fish information if it was incorrectly entered the first time. If you are simply changing the number/type of fish or plant in your system, use the "annotations" section in the data input tab to harvest plants, add plants, and remove fish or add fish.
    </div>
    <div class="form-group">
      <label>System Name</label>
      <input type="text" class="form-control" name="name" placeholder="System Name" value="{{system_data['name']}}" required>
    </div>

    <div class="form-group">
      <div class="col-xs-8">
        <label>Crop</label>
      </div>
      {% for c in system_data['crops'] %}<div id="cropsrow_{{loop.index - 1}}"></div>{% endfor %}
    </div>
    <div id="newcrop"></div>
    <div style="height: 2.5em"><a id="addcrop" href="javascript:void(0)">Add another crop</a></div>

    <div class="form-group">
      <div class="col-xs-8">
        <label>Aquatic Organism</label>
      </div>
      {% for o in system_data['organisms'] %}<div id="orgrow_{{loop.index - 1}}"></div>{% endfor %}
    </div>
    <div id="neworganism"></div>
    <div style="height: 2.5em"><a id="addorganism" href="javascript:void(0)">Add another aquatic organism</a></div>

    <div class="form-group">
      <button type="submit" class="btn btn-green">Save Changes</button>
    </div>
  </form>
</div>

<div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Confirm entry removal</h4>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="remove_type" value=""></input>
          <input type="hidden" id="remove_id" value=""></input>
        </form>
        <p id="confirm-message">Do you want to delete this entry ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="remove-confirm" type="button" class="btn btn-primary">Remove entry</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('frontend.static', filename='js/edit_system.js') }}"></script>
    <script>
      var crops = [
        {% for crop in enums['crops'] %}{ "id": {{ crop.ID }}, "name": "{{ crop.name }}" },{% endfor %}
      ];
      var organisms = [
        {% for o in enums['organisms'] %}{ "id": {{ o.ID }}, "name": "{{ o.name }}" },{% endfor %}
      ];
      $(document).ready(function () {
      {% for c in system_data['crops'] %}
      aqx_editsystem.makeInputRow('cropsrow_{{loop.index - 1}}', 'crop', {{loop.index - 1}},
                                  crops, "Number of Crops", {{c.id}}, {{c.count}}, true);
      {% endfor %}

      {% for o in system_data['organisms'] %}
      aqx_editsystem.makeInputRow('orgrow_{{loop.index - 1}}', 'organism', {{loop.index - 1}},
                                  organisms, "Number of Organisms", {{o.id}}, {{o.count}}, true);
      {% endfor %}

      $('#edit_form').submit(function (event) {
        return aqx_editsystem.update("{{url_for('frontend.update_system', system_uid=system_data['UID'])}}");
      });
      });
    </script>
{% endblock %}
