{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/nav.css') }}">
{% endblock %}

{% block title %}Newsfeed{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-sm-3">
            <h3 style="margin-top: 0">Weather
                <button class="js-geolocation btn btn-blue btn-xs">Use Your Location</button>
            </h3>
            <div id="weather"></div>
            <div id="systems">
                <h3>My Systems</h3>
                <p><a href="{{ url_for('frontend.system') }}">System A</a></p>
                <p>System B</p>
                <p>System C</p>
                <a href="{{ url_for('frontend.coming') }}">See all systems</a>
            </div>
            <div id="groups">
                <h3>My Groups</h3>
                <p>Group 1</p>
                <p>Group 2</p>
                <a href="{{ url_for('frontend.coming') }}">See all groups</a>
            </div>
            <div id="badges">
                <h3>My Badges</h3>
                <p align="center">Sorry, looks like you haven't earned any badges yet!</p>
            </div>
        </div>
        <div class="main col-sm-9">
            <form class="form">
                <input type="text" class="form-control" placeholder="What are you doing?">
            </form>
            <div class="share">
                <button class="btn btn-blue"><i class="fa fa-link"></i></button>
                |
                <button class="btn btn-blue"><i class="fa fa-camera"></i></button>
                |
                <button class="btn btn-blue"><i class="fa fa-file-text-o"></i></button>
                <div class="form-inline form-group pull-right">
                    <i class="fa fa-lock"></i>
                    <select class="form-control">
                        <option>Friends</option>
                        <option>Private</option>
                    </select>
                    <button class="btn btn-green">Share</button>
                </div>
            </div>
            <div class="posts">
                <h4>
                    <pre>Social Network component</pre>
                </h4>
                <div class="detail-box">

                    <div class="media post">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ url_for('frontend.static', filename='images/users/oddish.png') }}" alt="">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Oddish <span class="date sub-text"> Feb 21st, 2016</span></h4>
                            This is example of a posting
                        </div>
                        <button id="like-btn" class="btn like"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    </div>

                    <div class="comment-box">
                        <ul class="comment-list">
                            <li>
                                <div class="media comment">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="{{ url_for('frontend.static', filename='images/users/gloom.png') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Gloom <span class="date sub-text"> Feb 22nd, 2016</span></h4>
                                        This is example of a comment
                                    </div>
                                </div>
                                <div class="media comment">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object" src="{{ url_for('frontend.static', filename='images/users/vileplume.png') }}" alt="">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="media-heading">Vileplume <span class="date sub-text"> Feb 22nd, 2016</span></h4>
                                        This is example of a comment
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="input-group col-md-12">
                                    <input class="form-control" type="text" placeholder="Your comments" />
                                    <div class="input-group-btn" role="group">
                                        <button class="btn btn-blue"><i class="fa fa-link"></i></button>
                                        <button class="btn btn-blue"><i class="fa fa-camera"></i></button>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
    <script src="{{ url_for('frontend.static', filename='js/weather.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/newsfeed.js') }}"></script>
{% endblock scripts %}