{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/system.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/annotations.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/jquery.ptTimeSelect.css') }}">
{% endblock %}

{% block title %}{{ metadata.name }} Measurements{% endblock %}

{% block content %}
    <div class="container" style="width: 100%; margin-top: 2%; margin-left: 2%">
        <div class="row">
            {% if metadata.user == session['uid'] %}
                <div class="col-md-2">
                    <ul class="nav nav-stacked">
                        <li id="overview-li">
                            <a href="{{ url_for("frontend.sys_overview", system_uid=metadata.UID) }}"
                               title="Overview">Overview</a>
                        </li>
                        <li id="annotate-li">
                            <a href="{{ url_for("frontend.sys_annotations", system_uid=metadata.UID) }}"
                               title="Log Changes to System">Log Changes to System <span class="sr-only">(current)</span></a>
                        </li>
                        <li id="analytics-li">
                            <a href="{{ url_for('dav.system_analyze', system_uid=metadata.UID) }}" title="Analytics">Analytics</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-7">
                    <h2>Input Measurements</h2>
                    <hr>
                    <div ng-controller="MeasurementController">
                        <div class="form-group">
                            <label for="measure-id">Measurement Type</label>
                            <select class="form-control id" ng-model="measure.measurement_id" id="measure-id" ng-click="clearMessage()" required>
                              {% for t in measurement_types %}<option value="{{t.id}}">{{t.full_name}}</option>{% endfor %}
                            </select>
                        </div>
                        <form ng-show="measure.measurement_id" ng-switch on="measure.measurement_id" name="boardForm">
                            <span class="hidden" id="UID">{{ metadata.UID }}</span>
                          <div class="form-group">
                                <label for="measure-date">Date</label>
                                <input class="form-control dt" type="date" style="position: relative; z-index: 1000000"
                                       id="measure-date" name="measureDate" required />
                            </div>
                            <div class="form-group">
                                <label for="measure-time">Time</label>
                                <input class="form-control dt" type="time"
                                       id="measure-time" name="measureTime" required />
                            </div>
                            <div class="form-group">
                                <label for="measure-value">Value</label>
                                <p>Enter in the value of the measurement.</p>
                                <div class="input-group">
                                    <div ng-switch on="measure.measurement_id">
                                        <input ng-switch-when="12" id="measure-value" class="form-control val" name="measure-value" type="number"
                                               pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0"
                                               step="1" min="0" max="100000"
                                               aria-describedby="addon" ng-model="measure.value" required>
                                        <input  ng-switch-default id="measure-value" class="form-control val" name="measure-value" type="number"
                                                pattern="[0-9]+(.[0-9]+)?" style="text-align: right;" placeholder="0.00"
                                                step="0.01" min="0" max="1000"
                                                aria-describedby="addon" ng-model="measure.value" required>
                                    </div>
                                    <span ng-switch-when="5" id="addon" class="input-group-addon">lux</span>
                                    <span ng-switch-when="9" id="addon" class="input-group-addon">&nbsp;</span>
                                    <span ng-switch-when="10" id="addon" class="input-group-addon">&deg;C</span>
                                    <span ng-switch-when="12" id="addon" class="input-group-addon">leaves</span>
                                    <span ng-switch-when="13" id="addon" class="input-group-addon">cm</span>
                                    <span ng-switch-default id="addon" class="input-group-addon">mg/L</span>
                                </div>
                            </div>

                            <div ng-show="message" class="alert alert-warning alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Measurement has been added!
                            </div>
                            <div ng-show="error1" class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                Looks like you've already entered a measurement for this date and time! Try again with a different date and/or time.
                            </div>
                            <div ng-show="error2" class="alert alert-danger alert-dismissable" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                No measurement date was input. Please try again.
                            </div>
                            <!-- button panel -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-green" ng-click="addMeasurement(measure)">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs hidden-sm">
                    <h4>Latest Measurements</h4>
                    <hr>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Value</th>
                            <th>Last Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for reading in readings %}
                            <tr>
                                <td>{{ reading.full_name }}</td>
                                {% if reading.value %}
                                    <td>{{ reading.value }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                {% if reading.updated_at %}
                                    <td>{{ reading.updated_at|datetime }}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                <td>
                                    {% if reading.value %}
                                        <a href="/system/{{ metadata.UID  }}/measurements/{{ reading.name }}/data" class="pull-right">
                                            <span title="View history" class="glyphicon glyphicon-list-alt"></span>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if reading.value %}
                                        <a href="/system/{{ metadata.UID  }}/measurements/{{ reading.name }}/edit/{{ reading.created_at }}" class="pull-right">
                                            <span title="Edit this measurement" class="glyphicon glyphicon-pencil"></span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <h3>Oops! Looks like this isn't your system.</h3>
                <p>Please hit the 'Back' key or go to 'Home'</p>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ url_for('frontend.static', filename='js/jquery.ptTimeSelect.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/jquery.numeric.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/sys_measurements.js') }}"></script>
    <script>
      var LIMITS = {
        '1': { min: 0.0, max: 300.0 },
        '2': { min: 0.0, max: 6.0 },
        '3': { min: 0.0, max: 1000000.0 },
        '4': { min: 0.0, max: 300.0 },
        '5': { min: 0.0, max: 1000000.0 },
        '6': { min: 0.0, max: 200.0 },
        '7': { min: 0.0, max: 10.0 },
        '8': { min: 0.0, max: 1000000.0 },
        '9': { min: 5.0, max: 9.0 },
        '10': { min: 18.0, max: 33.0 },
        '12': { min: 0.0, max: 1000000.0 },
        '13': { min: 0.0, max: 1000000.0 }
      };
      $(document).ready(function() {
        if (!Modernizr.inputtypes.date) {
          $('#measure-date').datepicker({dateFormat: "yy-mm-dd"});
        }
        if (!Modernizr.inputtypes.time) {
          $('#measure-time').ptTimeSelect();
        }
        $("select.id").change(function() {
          var limits = LIMITS[$(this).val()];
          $("input.val").attr("min", limits.min);
          $("input.val").attr("max", limits.max);
        });
      });

        {#var isDragging = false;
        function updateNH4Values(posx) {
            aqx.updateStripValues(posx, 'nh4', 0.0, 6.0, aqx.nh4GradientColor);
        }
        aqx.connectStrip('nh4', updateNH4Values);
        function updateNO3Values(posx) {
            aqx.updateStripValues(posx, 'no3', 0.0, 200.0, aqx.no3GradientColor);
        }
        aqx.connectStrip('no3', updateNO3Values);
        function updateNO2Values(posx) {
            aqx.updateStripValues(posx, 'no2', 0.0, 10.0, aqx.no2GradientColor);
        }
        aqx.connectStrip('no2', updateNO2Values);
        // PH
        function updatePHValues(posx) {
            aqx.updateStripValues(posx, 'ph', 6.2, 8.4, aqx.phGradientColor);
        }
        aqx.connectStrip('ph', updatePHValues);
        // Chlorine
        function updateChlorineValues(posx) {
            aqx.updateStripValues(posx, 'cl', 0.0, 6.0, aqx.clGradientColor);
        }
        aqx.connectStrip('cl', updateChlorineValues);
        // Hardness
        function updateHardnessValues(posx) {
            aqx.updateStripValues(posx, 'hard', 0.0, 300.0, aqx.hardGradientColor);
        }
        aqx.connectStrip('hard', updateHardnessValues);
        // Alkalinity
        function updateAlkalinityValues(posx) {
            aqx.updateStripValues(posx, 'alk', 0.0, 300.0, aqx.alkGradientColor);
        }
        aqx.connectStrip('alk', updateAlkalinityValues);#}
    </script>
{% endblock scripts %}
