{% block content %}
    <div class="panel-body">
        <h3>
            System Snapshot
            <button class="btn btn-default pull-right"><i class="fa fa-cog"></i></button>
        </h3>
        <div class="row">
            <p><strong>System Name:</strong></p>
            <p><strong>Date Created:</strong></p>
            <p><strong>Aquaponics Technique:</strong></p>
            <p><strong>Growbed-Media:</strong></p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="page-header">Crop</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Corn</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Strawberry</td>
                        <td>33</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4 class="page-header">Organism</h4>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Beta Fish</td>
                        <td>2</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}