{% block content %}
    <div class="panel-body">
        <h3>Notes</h3>
        <p>
        <form id="notes-form" method="POST" action="/add-note">
            <input type="hidden" class="hidden">
            <div class="form-group">
                <label for="note-date">Date</label>
                <input class="form-control" type="date" id="note-date" name="date" required>
            </div>
            <div class="form-group">
                <label for="note-time">Time</label>
                <input class="form-control" type="time" id="note-time" name="time">
            </div>
            <div class="formgroup">
                <textarea class="form-control" name="textbox" placeholder="Today I..."></textarea>
            </div>
            <div class="form-group" style="margin-top: 5px">
                <input type="submit" class="btn btn-green">
            </div>
        </form>

        <!-- notes below -->
        <div id="new-note"></div>

        </p>
    </div><!-- /.panel-body -->
{% endblock %}