{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/system.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/annotations.css') }}">
{% endblock %}

{% block title %}Data{% endblock %}

{% block content %}
    <span class="hidden" id="UID">{{ system_uid }}</span>
    <span class="hidden" id="meaurementName">{{measurement}}</span>
    <span class="hidden" id="page">{{ page }}</span>

    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{url_for('frontend.view_system', system_uid=metadata.UID)}}">System</a></li>
      <li class="breadcrumb-item active">Data History</li>
    </ol>

    <div class="col-md-12">
      <h1 class="align-left">Data History for {{ measurement_name }}</h1>
      <table class="table table-striped table-condensed table-hover">
        <thead>
          <tr>
            <th class="id">Time</th>
            <th class="updated_at">Last Updated</th>
            <th class="name">Value</th>
          </tr>
        </thead>
        <tbody>
          {% for item in measurements %}
          <tr>
            <td>{{item.time}}</td>
            <td>{{item.updated_at}}</td>
            <td>{{item.value}} {{measurement_unit}}
              <a href="{{url_for('frontend.sys_edit_data', system_uid=system_uid, measurement=measurement, created_at=item.time)}}" class="pull-right">
                <span title="Edit this measurement" class="glyphicon glyphicon-pencil"></span>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
