<h2>Measurements</h2>
{% if user_privilege == "SYS_ADMIN" or user_privilege == "SYS_PARTICIPANT" %}
<a class="btn-blue" href="{{ url_for('frontend.sys_measurements', system_uid=system_neo4j[0][0]["system_uid"]) }}">
  Input Measurements</a> <br>
{#
<a class="btn-blue" href="{{ url_for('frontend.sys_annotations', system_uid=system_neo4j[0][0]["system_uid"]) }}">
  Log Changes to System</a> <br>
#}
<a class="btn-blue" href="{{ url_for('dav.system_analyze', system_uid=system_neo4j[0][0]["system_uid"]) }}">
  Analyze Data</a>
{% endif %}
<div class="row">
  <table id="placar" class="table table-responsive">
    <thead><tr><th>Name</th><th>Value</th><th>Last Updated</th></tr></thead>
    <tbody>
      {% if measurements is not none %}
      {% for row in measurements %}
      <tr>
        <td>{{ row.full_name }}</td>
        {% if row.value %}<td>{{ row.value }}</td>{% else %}<td>-</td>{% endif %}
        {% if row.updated_at %}<td>{{ row.updated_at|datetime }}</td>{% else %}<td>-</td>{% endif %}
        <td>{% if logged_in_user and row.value and user_privilege == 'SYS_ADMIN' %}<a href="/system/{{ system_uid  }}/measurements/{{ row.name }}/data" class="pull-right"><span title="View history" class="glyphicon glyphicon-list-alt"></span></a>{% endif %}</td>
        <td>{% if logged_in_user and row.value and row.time and user_privilege == 'SYS_ADMIN' %}<a href="/system/{{ system_uid  }}/measurements/{{ row.name }}/edit/{{ row.time }}" class="pull-right"><span title="Edit this measurement" class="glyphicon glyphicon-pencil"></span></a>{% endif %}
        </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
