{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('frontend.static', filename='css/system.css') }}">
{% endblock %}

{% block title %}System{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <ul class="nav nav-pills nav-justified">
                <li id="overview-li" class="active"><a href="javascript:void(0)" title="Overview" id="overview-link">
                    Overview <span class="sr-only">(current)</span></a>
                </li>
                <li id="analytics-li">
                    <a href="javascript:void(0)" title="Analytics" id="analytics-link">Analytics</a>
                </li>
                <li id="measurement-li">
                    <a href="javascript:void(0)" title="Measurement" id="measurement-link">Input</a>
                </li>
                <li id="annotate-li">
                    <a href="javascript:void(0)" title="Annotations" id="annotation-link">Annotations</a>
                </li>
                <li id="notes-li">
                    <a href="javascript:void(0)" title="Notes" id="notes-link">Notes</a>
                </li>
                <li id="connect-li">
                    <a href="javascript:void(0)" title="Connect" id="connect-link">Connect</a>
                </li>
                {# STILL DOING IMPORTS?
                <li id="import-li">
                    <a href="javascript:void(0)" title="Alerts" id="import-link">Import</a>
                </li>#}
            </ul>
        </div>

        <div id="overview-panel" class="panel">
            {% include "sys_overview.html" %}
        </div>
        <div id="analytics-panel" class="panel hidden">
            {% include "sys_analytics.html" %}
        </div>
        <div id="measurement-panel" class="panel hidden">
            {% include "sys_measurements.html" %}
        </div>
        <div id="annotation-panel" class="panel hidden">
            {% include "sys_annotations.html" %}
        </div>
        <div id="notes-panel" class="panel hidden">
            {% include "sys_notes.html" %}
        </div>
        <div id="connect-panel" class="panel hidden">
            {% include "sys_analytics.html" %}
        </div>
        {#<div id="import-panel" class="panel hidden">
            {% include "sys_import.html" %}
        </div>#}
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('frontend.static', filename='js/jquery.slides.min.js') }}"></script>
    <script src="{{ url_for('frontend.static', filename='js/systems.js') }}"></script>
{% endblock scripts %}