<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="{{ url_for('dav.static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('dav.static', filename='js/aqxGraph.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('dav.static', filename='css/styles.css')}}">
    <title>Title</title>
</head>
<body>
<div class="container" style="width: 100%; margin-top: 2%; margin-left: 2%">
    <div style="width: 50%">
        <div style="width: 50%;">
    {#        <div style="width: 10%; float:left;" class="form-group"  id="selectYAxis">#}
            <div class="form-group">
                <select class="dropdown" id="selectYAxis">
                    <option value="" selected="selected">Choose y axis</option>
                </select>
            </div>
            <div id="analyzeContainer" style="height: 300px; width: 100%;">
                <label>Demo graphs</label>
            </div>
        </div>
        <br>
        <div style="width: 50%;">
            <div class="form-group">
                <select class="dropdown" id="selectXAxis">
                    <option value="" selected="selected">Choose x axis</option>
                </select>
            </div>
        </div>
        <br><br>

    </div>
    <div style="width: 50%" >
         <div id="hcContainer" style="height: 300px; width: 100%;">
                <label>Demo graphs</label>
         </div>
    </div>
</div>

</body>
</html>