<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="{{ url_for('dav.static', filename='js/underscore-min.js') }}"></script>
    <script src="{{ url_for('dav.static', filename='js/aqxGraph.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('dav.static', filename='css/styles.css')}}">
    <title>Title</title>
</head>
<body>
<div class="container" style="width: 100%; margin-top: 2%; margin-left: 2%">
    <div style="width: 100%">
        <div style="width: 50%;">
            <div id="analyzeContainer" style="height: 300px; width: 100%;">
                <label>Demo graphs</label>
            </div>
        </div>
        <br>
        <div style="width: 50%;">
            <div class="form-group">
                <select class="dropdown" id="selectXAxis">
                    <option value="time" selected="selected">Choose x axis</option>
                </select>
            </div>
        </div>
        <br>
        <div style="width: 50%;">
            <div class="form-group">
                <select class="dropdown" id="selectYAxis">
                    <option value="nitrate" selected="selected">Choose y axis</option>
                </select>
            </div>
        </div>
        <br>
        <div style="width: 50%;">
            <div id="graphType" style="height: 300px; width: 100%;">
                <select class="dropdown" id="selectGraphType">
                    <option value="line" selected="selected">Choose a Graph Style</option>
                    <option value="line">Line Chart</option>
                    <option value="scatter">Scatter Plot</option>
                    <option value="barchart">Bar Chart</option>
                </select>
            </div>
        </div>
        <br><br>

    </div>
    {#    <div style="width: 50%" >#}
    {#         <div id="hcContainer" style="height: 300px; width: 100%;">#}
    {#                <label>Demo graphs</label>#}
    {#         </div>#}
    {#    </div>#}
</div>
<script>
    {#    var mo ={{ moooo|safe}};#}
    {#    var dat = {{ data | safe }};#}
{#    var systems_and_measurements_object = {{ systems_and_measurements_json | safe }};#}
    var systems_and_measurements = {{ systems_and_measurements_json | safe }};
    var dropdown_values = {{ measurement_types | safe }};
{#    var systems_and_measurements = systems_and_measurements_object.response;#}

</script>
</body>
</html>