{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

    <h1 class="page-header">About</h1>
    <div class="container">
        <div class="media comment">
            <div class="media-left">
                <img class="media-object" src="../static/images/plants.jpg" alt="" height="100px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Overview</h3>
                <p>Project Feed 1010's software service aims to provide aquaponics system maintainers with a means to capture and store information about their systems. Storing data on our service enables them to monitor their system on the go and share experience with other maintainers in our network.</p>
            </div>
        </div>
        <div class="media comment">
            <div class="pull-right">
                <img class="media-object" src="../static/images/labquest.jpg" alt="" height="100px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Measurement Storage</h3>
                <p>We have automated the submission of measurement results (currently for Vernier probeware products, please contact us if you are interested in support for probeware from other vendors). Alternatively, maintainers can either enter their measurement information manually or import it through the web application.</p>
            </div>
        </div>
        <div class="media comment">
            <div class="media-left">
                <img class="media-object" src="../static/images/webapp.png" alt="" height="100px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Monitoring & Analytics</h3>
                <p>Maintainers can use their measurement information in various ways: realtime information can be utilised for automated monitoring and wearing notifications, while historic information and meta data can be used for analysis.</p>
            </div>
        </div>
        <div class="media comment">
            <div class="pull-right">
                <img class="media-object" src="../static/images/map.png" alt="" height="100px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Become Part of a Community</h3>
                <p>By signing up for this service (requires a Google login), maintainers will join a network of maintainers worldwide and share experiences to help one another improving their Aquaponics systems.</p>
            </div>
        </div>
        <div class="media comment">
            <div class="media-left">
                <img class="media-object" src="../static/images/phone.png" alt="" height="100px">
            </div>
            <div class="media-body">
                <h3 class="media-heading">Support for Mobile Devices</h3>
                <p>Download our mobile app to receive alerts from your Aquaponics system on the go.</p>
            </div>
        </div>
    </div>
{% endblock %}