{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/systems.css') }}">
{% endblock %}

{% block title %}Systems{% endblock %}

{% block content %}

    <div id="wrapper">

        <div class="background">

            <div id="slides">
                <img src="http://placehold.it/1600x900">
                <img src="http://placehold.it/1600x900">
                <img src="http://placehold.it/1600x900">
            </div>

            <div>

                <h1>Systems Overview</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur, augue vel eleifend gravida, turpis enim porttitor massa, eget gravida nibh nibh nec elit. Sed faucibus, ex ut volutpat feugiat, odio libero efficitur sapien, et scelerisque urna enim at enim. Morbi lobortis tortor massa. Sed mollis tellus sit amet velit tempus lobortis. Nulla a enim lacus. Nullam dignissim nulla lorem, id volutpat mi laoreet vitae. Etiam gravida accumsan eros ut condimentum. Sed venenatis mi nunc, a euismod lacus rutrum vitae. Integer felis urna, cursus at accumsan in, mollis ut leo. Pellentesque blandit sagittis suscipit. Etiam scelerisque, risus ac pharetra volutpat, urna magna vestibulum sapien, sed dictum nunc sapien vel dolor. Phasellus fringilla arcu sed urna luctus venenatis.</p>

                <div class="row">
                    <div class="col-md-4">
                        <img src="https://placehold.it/360x360" style="width:100%"/>
                        <h3 class="graph-caption">Temperature</h3>
                    </div>
                    <div class="col-md-4">
                        <img src="https://placehold.it/360x360" style="width:100%"/>
                        <h3 class="graph-caption">Light Intensity</h3>
                    </div>
                    <div class="col-md-4">
                        <img src="https://placehold.it/360x360" style="width:100%"/>
                        <h3 class="graph-caption">pH Level</h3>
                    </div>
                </div>

            </div>

        </div>

        <div class="foreground">
            <div class="row" id="systems-list">
                <div class="col-md-3 col-md-offset-9">
                    <ul class="list-group">
                        <li class="list-group-item">System A</li>
                        <li class="list-group-item">System B</li>
                        <li class="list-group-item">System C</li>
                        <li class="list-group-item">System D</li>
                        <li class="list-group-item">System E</li>
                        <li class="list-group-item">System F</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/jquery.slides.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/systems.js') }}"></script>
{% endblock scripts %}