<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore Project Feed Around the World!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dav/underscore-min.js') }}"></script>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            width: 700px;
            height: 500px;
        }
    </style>
</head>
<body>
<div id="map"></div>
<br>
<select id="selectTechnique">
    <option>Choose an Aquaponics Technique</option>
</select>
<br><br>
<select id="selectOrganism">
    <option>Choose an Aquatic Organism</option>
</select>
<br><br>
<select id="selectCrop">
    <option>Choose a Crop</option>
</select>
<br><br>
<select id="selectGrowbedMedium">
    <option>Choose a Growbed Medium</option>
</select>
<br><br>
<input type="submit" id="submitbtn" name="mysubmit" value="Submit" onclick="uploadClicked()"/>
<input type="button" id="resetbtn" name="reset" value="Reset"/>
<script readonly>
    var json_ob = {{ json_obj|safe }};
    console.log(json_ob);
    console.log(json_ob.systems[0].organism_name);
    json_ob = json_ob.systems;
    console.log(json_ob);
    var meta_data = {{ metadata_json|safe }};
    var markers = [];
</script>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js">
</script>
<script src="{{ url_for('static', filename='js/dav/aqxMap.js') }}"></script>
<script>
    //Sample data
    function uploadClicked() {
        var systemInfo = json_ob;
        var filteredSystems = [];

        var dropDownObject1 = document.getElementById("selectTechnique");
        var dropDownObject2 = document.getElementById("selectOrganism");
        var dropDownObject3 = document.getElementById("selectCrop");
        var dropDownObject4 = document.getElementById("selectGrowbedMedium");
        var dp1 = dropDownObject1.value;
        var dp2 = dropDownObject2.value;
        var dp3 = dropDownObject3.value;
        var dp4 = dropDownObject4.value;

                if (dp1 != "Choose an Aquaponics Technique") {
                    console.log("here1");
                    filteredSystems = _.filter(systemInfo, function (system) {
                        return (system.description.aqx_techniques === dp1);
                    });
                    console.log(filteredSystems);
                } else {
                    filteredSystems = systemInfo;
                }

                if (dp2 != "Choose an Aquatic Organism") {
                    console.log("here2");
                    filteredSystems = _.filter(filteredSystems, function (system) {
                        return (system.description.aqx_organism === dp2);
                    });
                    console.log(filteredSystems);
                }

                if (dp3 != "Choose a Crop") {
                    console.log("here3");
                    filteredSystems = _.filter(filteredSystems, function (system) {
                        return (system.description.crop === dp3);
                    });
                    console.log(filteredSystems);
                }

                if (dp4 != "Choose a Growbed Medium") {
                    console.log("here4");
                    filteredSystems = _.filter(filteredSystems, function (system) {
                        return (system.description.growbed_media === dp4);
                    });
                    console.log(filteredSystems);
                }
        // Call displayMap with filteredSystems
        console.log(filteredSystems);

        // Naive function to filter markers off map.
        // Uses title to id a marker, which won't work
        // Can maybe use UID
        // TODO: Do this better, and get it to work correctly from aqxmap.js
        function removeFilteredMarkers(filteredSystems){
            for (var i = 0; i < markers.length; i++) {
                for (var j = 0; j < filteredSystems.length; j++){
                    if (markers[i].title === filteredSystems[j].title){
                        markers[i].setVisible(false);
                    }
                }
            }
        }
        removeFilteredMarkers(filteredSystems);
    };

{#    function hideMarkerIfFiltered(marker){#}
{#        var dropDownObject1 = document.getElementById("selectTechnique");#}
{#        var dropDownObject2 = document.getElementById("selectOrganism");#}
{#        var dropDownObject3 = document.getElementById("selectCrop");#}
{#        var dropDownObject4 = document.getElementById("selectGrowbedMedium");#}
{#        var dp1 = dropDownObject1.value;#}
{#        var dp2 = dropDownObject2.value;#}
{#        var dp3 = dropDownObject3.value;#}
{#        var dp4 = dropDownObject4.value;#}
{##}
{#        if (marker.)#}
{#    }#}

    $('#resetbtn').click(function(){
        for (var i = 0, length = markers.length; i < length; i++) {
            markers[i].setVisible(true);
        }
        $('#selectTechnique').val("Choose an Aquaponics Technique");
        $('#selectOrganism').val("Choose an Aquatic Organism");
        $('#selectCrop').val("Choose a Crop");
        $('#selectGrowbedMedium').val("Choose a Growbed Medium");
    });
</script>
</body>
</html>