<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            width: 700px;
            height: 500px;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    var json_ob = {{ json_obj|safe }};
    var selected_markers = [];

    function buildInfoWindowContent(dataPoint) {
        return "<h2>" + dataPoint.title + "</h2>" +
                "<ul><li>Aquaponics Technique: " + dataPoint.description['aqx_techniques'] + "</li>" +
                "<li>Aquatic organism: " + dataPoint.description['aqx_organism'] + "</li>" +
                "<li>Growbed Medium: " + dataPoint.description['growbed_media'] + "</li>" +
                "<li>Crop: " + dataPoint.description['crop'] + "</li></ul>";
    }

    function addMarker(dataPoint) {
        var latLng = new google.maps.LatLng(dataPoint.lat, dataPoint.lng);
        var content = buildInfoWindowContent(dataPoint);
        marker1 = new google.maps.Marker({
            title: dataPoint.title,
            position: latLng,
            map: map,
            content: content
        });

        google.maps.event.addListener(marker1, 'mouseover', (function (marker1, content) {
            return function () {
                infoWindow.setContent(content);
                infoWindow.open(map, marker1);
            }
        })(marker1, content));

        google.maps.event.addListener(marker1, 'mouseout', (function () {
            return function () {
                infoWindow.close();
            }
        })(marker1));

        {#        google.maps.event.addListener(marker1, 'click', (function (marker1, content) {#}
        {#            return function () {#}
        {#                selected_markers.push(marker1);#}
        {#                infoWindow.setContent(content + "<p>selected</p>");#}
        {#                infoWindow.open(map, marker1);#}
        {#            }#}
        {#        })(marker1, content));#}
    }

    function initMap() {
        var myLatLng = {lat: 57.9, lng: 14.6};

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: myLatLng
        });

        infoWindow = new google.maps.InfoWindow({
            maxWidth: 250
        });

        for (var i = 0, length = json_ob.length; i < length; i++) {
            var data = json_ob[i];
            if (data.lat && data.lng) {
                addMarker(data);
            }
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH9ovCX08Fy6ptZMVcUey0qXtzxWIv9Dw&callback=initMap"
        async defer></script>

</body>
</html>